.main-container {
    display: flex;
    flex-direction: column;

    max-width: 90%;

    margin: auto;
}

/* .search {
    margin: auto;
} */

.note-handling {
    padding-top: 5px;
    padding-bottom: 10px;
    margin: auto;
    overflow: hidden;
}

.searchbar-layout {
    float: left;
}

.btn-layout {
    float: left;
}