.main-container {
    display: flex;
    flex-direction: column;

    max-width: 500px;

    margin: auto;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('src/assets/toolbar_find.png');
    background-position: 4px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}