.note-card-container {
    position: relative;
    background: white;
    box-shadow: 1px 1px 2px 0px #000000;
    
    border-style: solid;
    border-radius: 8px;
    border-color: grey;
    border-width: 1px;

    margin: 5px
}

.note-card-container:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #000000;
}


.note-card-content {
    padding: 15px;
}

.note-card-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(26, 85, 109);
}

.note-card-body {
    margin-top: 5px;
    position: relative;

    max-width: 200px;
    max-height: 200px;
    overflow: hidden;

    word-wrap: break-word;

    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.p-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* FUNKTIONIERT NICHT DER DRECK */
.fade-out {
    position: absolute;
    
    bottom: 10px;
    height: 30%;
    width: 88%;
    
    pointer-events: none;

    /* background: red; */
    background-image: linear-gradient(to bottom, transparent, white);
}

