.btn {
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #a8a9aa;
  margin: 0;
  cursor: pointer;
  background: #f8f9fa;
  color: #000;
  text-transform: uppercase;
}

.btn:hover {
  background: #e2e6ea;
  border-color: #e2e6ea;
  transition: 0.4s;
}

.btn:focus {
  outline: none;
}


.btn-big {
  padding: 1rem 2rem;
  font-size: 1.3rem;
}

.btn-primary {
  background: #44bd32;
  border-color: #44bd32;
  color: #fff;
}

.btn-primary:hover {
  background: #33ce2d;
}

.btn:disabled, btn:disabled:hover {
  cursor: not-allowed;
  background: #e2e6ea;
  border-color: #e2e6ea;
}