<div class="login__container">
  <h2>Login</h2>
  <span class="material-icons">
    article
  </span>
  <div class="form-container">
    <div class="paper-shadow paper-shadow-top-z-1"></div>
    <div class="paper-shadow paper-shadow-bottom-z-1"></div>
    <form>
      <div class="form-element">
        <label class="lbl">E-Mail</label>
        <input class="ipt" type="email" name="email" />
      </div>
      <div class="form-element">
        <label class="lbl">Password</label>
        <input class="ipt" type="password" name="password" />
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
  </div>
</div>
